.label {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
}

.label_blue {
  .label__value {
    background-color: var(--purple);
    color: white;
    border-color: var(--blue);
  }
}

.label_yellow {
  .label__value {
    background-color: var(--yellow);
    color: black;
    border-color: var(--purple);
  }
}

.label__text {
  font-size: 24px;
}

.label__value {
  border-radius: 8px;
  border-width: 4px;
  border-style: solid;
  font-size: 32px;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
