@use "../../../styles/variables" as *;

.footer {
  display: flex;
  flex-direction: column;
  font-size: $text-s;
  gap: $gap-s;
  align-items: center;
  justify-content: center;

  @media (min-width: $laptop) {
    gap: $gap-l;
    font-size: $text-m;
    flex-direction: row;
  }

  @media (min-width: $desktop) {
    gap: $gap-xl;
    font-size: $text-l;
    flex-direction: row;
  }

  &__icons {
    display: flex;
    gap: $gap-s;

    @media (min-width: $desktop) {
      gap: $gap-m;
    }
  }
}
