@use "../../../styles/variables" as *;

.layout-wrapper {
  background-color: basic-color(gray);
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;

  touch-action: none;
}

.layout {
  display: grid;
  justify-items: center;
  gap: $gap-l;

  grid-template-columns: min-content;

  @media (min-width: $desktop) {
    grid-template-columns: auto;
  }
}
