.button {
  height: 60px;
  border-radius: 8px;
  border-width: 4px;
  border-style: solid;
  border-color: var(--blue);
  font-size: 32px;
  padding: 0 8px;
  background-color: var(--purple);
  font-size: 32px;
  color: white;
  width: 100%;
  text-transform: uppercase;
}

.button:hover {
  border-color: var(--purple);
  background-color: var(--light-purple);
}

.button:active {
  border-color: var(--purple);
  background-color: var(--blue);
}
