.grid-wrapper {
  width: fit-content;
  height: fit-content;
  height: 100vh;
  background-color: var(--gray);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  position: relative;
  display: grid;
  width: 100%;
}
