@layer components;

@import url("../shared/components/label/style/") layer(components);
@import url("../shared/components/button/style/") layer(components);
@import url("../components/tile/style/") layer(components);
@import url("../components/grid/style/") layer(components);
@import url("../components/status-board/style/") layer(components);
@import url("../components/layout/style/") layer(components);
@import url("../components/splash-screen/style/") layer(components);

:root {
  --tile-border-radius: 8px;

  /* colors */
  --gray: #f2f2f2;
  --yellow: #f2e530;
  --purple: #5056bf;
  --light-purple: #bcbbf2;
  --blue: #030a8c;
}

body,
html,
h1,
h2 {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;

  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
