@layer components;

@import url("../components/tile/index.css") layer(components);
@import url("../components/grid/index.css") layer(components);

:root {
  --tile-border-radius: 8px;

  /* colors */
  --gray: #f2f2f2;
  --yellow: #f2e530;
  --purple: #5056bf;
  --light-purple: #bcbbf2;
  --blue: #030a8c;
}

.font-jaro {
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
