@layer components;

@import "../shared/components/label/style/index.scss" layer(components);
@import "../shared/components/button/style/index.scss" layer(components);
@import "../shared/components/icon/style/index.style.scss" layer(components);

@import "../components/tile/style/index.scss" layer(components);
@import "../components/grid/style/index.scss" layer(components);
@import "../components/status-board/style/index.scss" layer(components);
@import "../components/layout/style/index.scss" layer(components);
@import "../components/splash-screen/style/index.scss" layer(components);
@import "../components/header/style/index.scss" layer(components);
@import "../components/footer/style/index.scss" layer(components);

body,
html,
h1,
h2 {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;

  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
