.tile {
  position: absolute;
  background-color: gray;
  border-radius: var(--tile-border-radius);
  display: flex;
  align-items: center;
  justify-content: center;

  transition-property: left, top, transform;
  transition-duration: var(--tile-animation-duration);
}

.tile2 {
  background-color: #cf043c;
}

.tile4 {
  background-color: #df042b;
}

.tile8 {
  background-color: #e9510e;
}

.tile16 {
  background-color: #f49600;
}

.tile32 {
  background-color: #eb5777;
}

.tile64 {
  background-color: #e1328c;
}

.tile128 {
  background-color: #bb0a7e;
}

.tile256 {
  background-color: #951b80;
}

.tile512 {
  background-color: #fcc513;
}

.tile1024 {
  background-color: #fcc513;
}

.tile2048 {
  background-color: #52bfd3;
}

.tile.empty {
  position: static;
}
