@use '../../../styles/variables' as *;

.grid-wrapper {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
    position: relative;
    display: grid;
    width: 100%;
}
